<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Hecha Por</span>
    <a
      b-slate-link
      href="https://GyutaroNc" target="_blank"
    >
      Código fuente por
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/GyutaroNc/ChatGpt-Demon" target="_blank"
    >
      El Chema
    </a>
  </p>
</footer>
