<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Código fuente</span>
    <a
      b-slate-link
      href="https://GyutaroNc" target="_blank"
    >
      Por el
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/GyutaroNc/ChatGpt-Demon" target="_blank"
    >
      Chema
    </a>
  </p>
</footer>
